 <%if(error){%>
 <div class="alert alert-sm alert-danger"><%=error%></div>
 <%}%>
<div class="post-post">
   
    <form action="/user/post" method="POST">
        <input placeholder="Image URL" type="text" name="img">
        <textarea placeholder="Say something.." name="postBody" rows="10"></textarea>
        <input type="submit" value="Post">
    </form>
</div>