.chart-post {
    font-weight: bold;
    text-align: center;
    width: 90%;
    height: auto;
    border: 1px solid black;
    padding: 5px;
    margin: auto;
}

.post-chart {
    border-radius: 10px;
    position: relative;
    width: 90%;
    overflow: auto;
    flex-wrap: inherit;
    margin: 2px 5%;
    margin-top: 5px;
    height: 54vh;
}

.chart-post input {
    margin: 2px;
    padding: 5px 10px;
    border: 1px solid blue;
    width: 100%;
    outline: none;
}

.chart-post input[type='submit'] {
    width: 60%;
    font-weight: bold;

}

.chart-post input[type='submit']:hover {
    background: black;
    color: white;
}

@media(min-width:50rem) {
    .chart-post {
        margin: auto;
        width: 50%;
        height: auto;
        border: 1px solid black;
        padding: 5px;
    }

    .post-chart {
        border-radius: 10px;
        /* position: relative; */
        width: 50%;
        overflow: auto;
        flex-wrap: inherit;
        margin: 5px auto;
        /* margin-top: 5px; */
        height: auto;
    }
}